WEEK-9/book.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="bookstore">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="book" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="title" type="xsd:string"/>
                            <xsd:element name="author" type="xsd:string"/>
                            <xsd:element name="isbn" type="xsd:string"/>
                            <xsd:element name="publisher" type="xsd:string"/>
                            <xsd:element name="edition" type="xsd:string"/>
                            <xsd:element name="price" type="xsd:decimal"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>